/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

body::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/bg.jpg) no-repeat center center/ cover fixed;
    filter: blur(.2rem);
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.question-box {
    position: relative;
    top: 15rem;
    width: 40rem;
    text-align: center;
    background-color: rgba(83, 96, 119, .5);
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.question-text {
    font-size: 2rem;
    color: #fff;
}

.answer-box {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    width: 15rem;
    background-color: rgba(255, 255, 255, .6);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    padding: 1.5rem;
    border: 4px solid rgba(83, 96, 119, .8);
    display: none;

    animation-name: answer-box;
    animation-duration: .5s;
}

.answer-img {
    margin: 1.5rem auto 0 auto;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid rgba(83, 96, 119, .9);
    overflow: hidden;
    transition: all .3s;
}

.answer-img:hover {
    transform: scale(1.2);
}

img {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 .5rem 0;
}

.buttons .prev, .buttons .next {
    width: 5rem;
    padding: .4rem 0;
    border-radius: .5rem;
    font-size: 1.1rem;
}

.buttons .see {
    font-weight: 700;
    font-size: 1.5rem;
    padding: .7rem 1.4rem;
    border-radius: .8rem;
}

.buttons .btn {
    cursor: pointer;
    transition: .3s;
    border: none;
}

.buttons .btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.buttons .btn:active {
    color: #000;
    background-color: #fff;
}

/* Animation */
@keyframes answer-box {
    from {
        transform: scale(.1);
    }
}

/* Responsive */
@media(max-width: 992px) {

    .content {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1rem;
        padding: 10rem 0;
    }

    .question-box {
        position: static;
        top: unset;
        width: 30rem;
        border-radius: .8rem;
        padding: .8rem;
    }

    .question-text {
        font-size: 1.5rem;
    }

    .buttons {
        padding: 1rem 0 .25rem 0;
    }

    .buttons .prev, .buttons .next {
        width: 4rem;
        padding: .3rem 0;
        border-radius: .4rem;
        font-size: .9rem;
    }

    .buttons .see {
        font-size: 1.2rem;
        padding: .5rem 1rem;
        border-radius: .6rem;
    }

    .answer-box {
        position: static;
        top: unset;
        font-size: 1.2rem;
        width: 12rem;
        border-radius: .75rem;
        padding: 1.1rem;
        border: 2.5px solid rgba(83, 96, 119, .8);
    }
    
    .answer-img {
        margin: 1.2rem auto 0 auto;
        width: 7.5rem;
        height: 7.5rem;
        border: 2.5px solid rgba(83, 96, 119, .9);
    }
}

@media(max-width: 768px) {

    .question-box {
        width: 20rem;
        border-radius: .5rem;
        padding: .5rem;
    }

    .question-text {
        font-size: .98rem;
    }

    .buttons {
        padding: .8rem 0 .2rem 0;
    }

    .buttons .btn:hover {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.7); 
    }

    .buttons .prev, .buttons .next {
        width: 3.2rem;
        padding: .2rem 0;
        border-radius: .2rem;
        font-size: .7rem;
    }

    .buttons .see {
        font-size: 1rem;
        padding: .4rem .8rem;
        border-radius: .4rem;
    }

    .answer-box {
        font-size: 1rem;
        width: 10rem;
        border-radius: .6rem;
        padding: .8rem;
        border: 2px solid rgba(83, 96, 119, .8);
    }

    .answer-img {
        margin: 1rem auto 0 auto;
        width: 7rem;
        height: 7rem;
        border: 2px solid rgba(83, 96, 119, .9);
    }
    
    .answer-img:hover {
        transform: none;
    }
}

@media(max-width: 576px) {

    .question-box {
        width: 18rem;
        border-radius: .8rem;
    }

    .buttons .see {
        font-size: 1rem;
        padding: .4rem .8rem;
        border-radius: .4rem;
    }

    .answer-box {
        width: 18rem;
        border-radius: .8rem;
        padding: 1.5rem;
        border: 3.5px solid rgba(83, 96, 119, .8);
    }

    .answer-img {
        width: 11rem;
        height: 11rem;
        border: 3.5px solid rgba(83, 96, 119, .9);
    }
}